<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Profile&Comics</title>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="">
</head>
  <body>
    <a href="http://localhost:3000/main">
      <input type="button" value="Back to Main"/>
    </a>
    <form action="/auth?_method=DELETE" method="put">
      <input type="submit" value="Logout">
    </form>
    <form action="/profile" method="post">
        <input type="text" name="username[username]" value="" placeholder="Username">
        <input type="password" name="username[password]" value="" placeholder="Password">
        <input type="submit" name="username" value="Log in">
    </form>

    <h1>Saved Comics</h1>
    <% if(saved.length) { %>
      <% saved.forEach((x) => { %>
      <h1><%= x.title %></h1>
      <img src="<%= x.image %>">
      <p><%= x.description %></p>
        <form action="/<%= x._id %>?_method=DELETE" method="POST">
          <input type="submit" value="Delete">
        </form>
      <% }); %>
    <% } %>
  </body>
</html>
