<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Signup&Comics</title>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="">
  <link href="https://fonts.googleapis.com/css?family=Hind+Guntur" rel="stylesheet">
  <link href="./css/signIn.css" rel="stylesheet" type="text/css">
</head>
  <body>
  <div class="fullscreen">
      <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen_video">
          <source src="Marvel- Ultimate Alliance - Super Trailer.mp4" type="video/mp4">
      </video>
  </div>
    <div class="index">
    <form class="" action="/signedup" method="post">
        <input class="search" type="text" name="username[username]" value="" placeholder="Username">
        <input class="search" type="text" name="username[email]" value="" placeholder="Email Address">
        <input class="search" type="password" name="username[password]" value="" placeholder="Password">
        <input class="button" type="submit" value="Sign up">
      </form>
    </div>
  </body>
</html>
